@import "tailwindcss";

@theme {
  /* Colores personalizados estilo GoT */
  --color-got-gold: #c5a059;
  --color-got-dark: #0a0a0a;
  --color-got-iron: #262626;
  --color-got-blood: #450a0a;
  
  /* Fuente tipográfica */
  --font-got: "Cinzel", serif;
}

@source "./**/*.{js,jsx}";